.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #720b95;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text{
  color: rgb(42, 206, 20);
  text-decoration: underline;
}
.quote{
  font-style: italic;
  font-size: 25px;
  color: rgb(5, 242, 132);
  border: gold 3px dotted;
  padding: 2rem;
  border-radius: 45px;
}
.author{
  font-style: normal;
  font-size: 20px;
  color: rgb(25, 2, 59);
  border: rgb(124, 181, 3) 2px dotted;
  padding: 1rem;
  border-radius: 25px;
}
.generator:hover{
  color:gold;
}
.generator{
  background-color: rgb(54, 14, 213);
  padding: 0.5rem;
  border-radius: 10px;
}
.tags{
  font-style: normal;
  font-size: 20px;
  color: rgb(25, 2, 59);
  border: rgb(124, 181, 3) 2px dotted;
  padding: 1rem;
  border-radius: 25px;
}